In [4]:
cities = ['Vilnius', 'Kaunas', 'London']
print(cities)

['Vilnius', 'Kaunas', 'London']

In [5]:
nested_list = [12,67, [5486,8,[[0, 1, 54]], 625 ] ]
print(nested_list[2][2][0][1])

1

In [23]:
numbers = [1,4,64,32,1246]
len(numbers)
1246 in numbers

True

In [24]:
numbers.remove(64)

In [26]:
numbers.pop(0)

1

In [27]:
numbers.append(69)

In [31]:
numbers.sort()
numbers.count(4)

1

In [5]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
my_tuple[3][1][1]

8

In [7]:
tuple1 = (11, [222, 33], 44, 55)
y = list(tuple1)
y[1][1] = 22
tuple1 = tuple(y)

print(tuple1)

(11, [222, 22], 44, 55)

In [13]:
tuple_1 = (1,5,3)
tuple_2 = (10,25,15)

In [15]:
tuple_3 = tuple_1 + tuple_2
y=list(tuple_1)
y.pop()
tuple_1=tuple(y)

In [16]:
sorted(tuple_3)

[1, 3, 5, 10, 15, 25]

In [1]:
for n in range(1, 11):
    print(n, end=' ')

1 2 3 4 5 6 7 8 9 10

In [2]:
user_input = input('enter a number')

In [16]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

combination=[]

for day in days:
    print(day)
    for hour in hours:
        print(hour)
        combination.append(f'{day} {hour}')

print(combination)

Monday
10
11
12
13
14
15
16
17
18
19
Tuesday
10
11
12
13
14
15
16
17
18
19
Wednesday
10
11
12
13
14
15
16
17
18
19
Thursday
10
11
12
13
14
15
16
17
18
19
Friday
10
11
12
13
14
15
16
17
18
19
Saturday
10
11
12
13
14
15
16
17
18
19
Sunday
10
11
12
13
14
15
16
17
18
19
['Monday 10', 'Monday 11', 'Monday 12', 'Monday 13', 'Monday 14', 'Monday 15', 'Monday 16', 'Monday 17', 'Monday 18', 'Monday 19', 'Tuesday 10', 'Tuesday 11', 'Tuesday 12', 'Tuesday 13', 'Tuesday 14', 'Tuesday 15', 'Tuesday 16', 'Tuesday 17', 'Tuesday 18', 'Tuesday 19', 'Wednesday 10', 'Wednesday 11', 'Wednesday 12', 'Wednesday 13', 'Wednesday 14', 'Wednesday 15', 'Wednesday 16', 'Wednesday 17', 'Wednesday 18', 'Wednesday 19', 'Thursday 10', 'Thursday 11', 'Thursday 12', 'Thursday 13', 'Thursday 14', 'Thursday 15', 'Thursday 16', 'Thursday 17', 'Thursday 18', 'Thursday 19', 'Friday 10', 'Friday 11', 'Friday 12', 'Friday 13', 'Friday 14', 'Friday 15', 'Friday 16', 'Friday 17', 'Friday 18', 'Friday 19', 'Saturday 10', 'Saturday 11', 'Saturday 12', 'Saturday 13', 'Saturday 14', 'Saturday 15', 'Saturday 16', 'Saturday 17', 'Saturday 18', 'Saturday 19', 'Sunday 10', 'Sunday 11', 'Sunday 12', 'Sunday 13', 'Sunday 14', 'Sunday 15', 'Sunday 16', 'Sunday 17', 'Sunday 18', 'Sunday 19']